/* Skyblue Theme: modifies the default theme to use blue in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-blue1: #076db3;
  --tf-blue2: #1b6fa9;
  --tf-blue3: #2f8ed0;
  --tf-blue4: #bde3f0;
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--tf-blue1);
  --tf-pill-bg: var(--tf-blue3);
  --tf-icon-fill: var(--tf-blue1);
  --tf-icon-hover: var(--tf-blue3);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--tf-blue4);
  --tf-projects-bg-color: var(--tf-blue4);
}

h1,h2,h3,h4,h5 {
  color: var(--tf-blue1);
  font-family: Rubik;
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-blue1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

.rounded-circle {
  border-color: var(--tf-blue1);
  border-style: solid;
  border-width: 1px;
}

p,
li,
.card-text,
.lead {
  text-align: justify;
}

h1,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  text-align: center;
}

.tf-project-card-media {
  display: flex;
}

.tf-project-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
